services:
  - type: web
    name: mangala-online
    env: node
    region: frankfurt
    plan: free
    buildCommand: yarn install && yarn build
    startCommand: yarn start
    envVars:
      - key: NODE_ENV
        value: production
      - key: JWT_SECRET
        generateValue: true
      - key: ADMIN_SECRET_KEY
        generateValue: true
    healthCheckPath: /api/health
    autoDeploy: true
